@{
var txt = DateTime.Now; // ëþáîé êîä íà C#
double e = 1;
double buf = 0;
for(int i = 0; i < 10; i++)
	buf *= i;
	e += 1./buf;
}
<html>
	<body>
		<p>The dateTime is @txt</p>
		<p>e = @e</p>
	</body>
</html>
